:root {
  /* Text colors */
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --address-link: rgba(255, 255, 255, 0.6);
  --icon-primary-color: #afb1b8;
  --social-item-footer: rgba(255, 255, 255, 0.1);
  --card-fill-color: rgba(33, 150, 243, 0.9);
  --accent-color: #2196f3;
  --logo-color: #000000;
  /* BG colors */
  --primary-white-color: #ffffff;
  --footer-backgroung-color: #2f303a;
  --studio-background-color: #f5f4fa;
  --title-backroung-color: #c4c4c4;
  --portfolio-item-border: #eeeeee;
  --item-backgroung-color: #f5f4fa;
  --footer-label-color: rgba(255, 255, 255, 0.3);
  --works-description-bg-color: rgba(47, 48, 58, 0.8);
  /* animation */
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --anim-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea {
  outline: none;
}

/* List */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section.no__padding {
  padding-top: 0;
}

.hidden {
  visibility: hidden;
  margin: 0;
  font-size: 0;
  margin-block: 0;
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 216px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--studio-background-color);
  color: var(--primary-text-color);
}

.form__button {
  display: block;
  padding: 10px 52px;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  letter-spacing: 0.06em;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}
.form__button:hover, .form__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Button */
.portfolio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn .portfolio-btn__item + .portfolio-btn__item {
  margin-left: 8px;
}

.portfolio-btn__item {
  display: inline-block;
}

.portfolio-btn__button {
  color: var(--primary-text-color);
  background-color: var(--studio-background-color);
  border-radius: 4px;
  padding: 6px 25px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}
.portfolio-btn__button:hover, .portfolio-btn__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--anim-fast);
  transition: opacity var(--anim-fast);
  visibility: var(--anim-fast);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 8px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-animation: heartBeat 1000ms ease-in-out 200ms;
          animation: heartBeat 1000ms ease-in-out 200ms;
}

.backdrop--hidden .backdrop__modal {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.backdrop__btn {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-30%, 30%);
          transform: translate(-30%, 30%);
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--logo-color);
  background-color: var(--primary-white-color);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.backdrop__btn:hover,
.backdrop__btn:focus {
  color: var(--primary-white-color);
  background-color: var(--logo-color);
}

.backdrop__btn--closed {
  fill: currentColor;
  background-color: transparent;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: var(--primary-white-color);
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  color: var(--icon-primary-color);
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}

.social__items:hover,
.social__items:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social__items .social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.networks__container {
  margin-top: 12px;
  margin-left: 70px;
}

.networks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  color: var(--primary-white-color);
  background-color: var(--networks__item);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color var(--anim-fast);
  transition: background-color var(--anim-fast);
}

.networks__item:not(:nth-child(4n)) {
  margin-right: 10px;
}

.networks__item:hover,
.networks__item:focus {
  background-color: var(--accent-color);
}

.networks__icon {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.join-us__icon {
  -ms-flex-item-align: center;
      align-self: center;
  fill: currentColor;
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

/* Form modal */
.form {
  width: 528px;
  height: 581px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form__field {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form__title {
  margin-bottom: 12px;
  text-align: center;
  font-style: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 3%;
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1%;
  color: var(--paragraph-text-color);
  margin-bottom: 4px;
}

.form__field input {
  margin: 0;
  padding: 12px 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-field-comment {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment {
  margin: 0;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1%;
}

.comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1%;
}

.comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1%;
}

.comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1%;
}

.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1%;
}

.comment:focus {
  border-color: var(--accent-color);
}

.form__input:focus {
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 55%;
  left: 14px;
  display: inline-block;
}

.form__icon-first {
  position: absolute;
  top: 70%;
  left: 14px;
  display: inline-block;
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form__input:focus ~ .form__icon-first {
  fill: var(--accent-color);
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border-radius: 2px;
}

.form__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.form__checkbox:checked + .form__checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  fill: var(--accent-color);
  background-image: url(../images/svg/Check-it.svg);
  background-size: contain;
  background-origin: border-box;
}

.form__terms-text {
  line-height: 1.71;
  color: var(--paragraph-text-color);
}

.form__terms-link {
  color: var(--accent-color);
  text-decoration: underline;
}

/* Form Footer */
.join-us__container {
  margin-left: 93px;
  margin-top: 12px;
}

.join-us__form {
  width: 570px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.join-us__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: 8px;
  gap: 10px;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}

.join-us__btn:hover,
.join-us__btn:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.join-us__container input {
  margin: 0;
  padding: 15px 16px;
  width: 358px;
  border: 1px solid var(--footer-label-color);
  border-radius: 4px;
}

.join-us__container::-webkit-input-placeholder input {
  font-size: 16px;
  line-height: 1.25;
  vertical-align: center;
  letter-spacing: 0.03em;
  color: var(--footer-label-color);
}

.join-us__container::-moz-placeholder input {
  font-size: 16px;
  line-height: 1.25;
  vertical-align: center;
  letter-spacing: 0.03em;
  color: var(--footer-label-color);
}

.join-us__container:-ms-input-placeholder input {
  font-size: 16px;
  line-height: 1.25;
  vertical-align: center;
  letter-spacing: 0.03em;
  color: var(--footer-label-color);
}

.join-us__container::-ms-input-placeholder input {
  font-size: 16px;
  line-height: 1.25;
  vertical-align: center;
  letter-spacing: 0.03em;
  color: var(--footer-label-color);
}

.join-us__container::placeholder input {
  font-size: 16px;
  line-height: 1.25;
  vertical-align: center;
  letter-spacing: 0.03em;
  color: var(--footer-label-color);
}

.join-us__input {
  background-color: var(--footer-backgroung-color);
  color: var(--primary-white-color);
}

.join-us__input:hover,
.join-us__input:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.join-us__container::-webkit-input-placeholder input:hover {
  color: var(--accent-color);
}

.join-us__container::-moz-placeholder input:hover {
  color: var(--accent-color);
}

.join-us__container:-ms-input-placeholder input:hover {
  color: var(--accent-color);
}

.join-us__container::-ms-input-placeholder input:hover {
  color: var(--accent-color);
}

.join-us__container::placeholder input:hover {
  color: var(--accent-color);
}

/* Page-header */
.header {
  background-color: var(--primary-white-color);
  border: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Logo */
.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 93px;
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__part--dark {
  color: var(--logo-color);
}

/* Site nav */
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: currentColor;
  position: relative;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--active {
  color: var(--accent-color);
}
.nav__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

/* Header contacts */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 30px;
}

.contacts__link {
  display: block;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--paragraph-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__icon {
  -ms-flex-item-align: center;
      align-self: center;
  fill: currentColor;
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

.contacts .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.section.hero {
  background-color: var(--title-backroung-color);
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img_title.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_title.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero__container {
  display: block;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Portfolio */
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 1.55;
  vertical-align: top;
  letter-spacing: 3%;
  color: var(--primary-white-color);
  background-color: var(--card-fill-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}

.portfolio__item:hover .portfolio-wrap,
.portfolio__item:focus .portfolio-wrap {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
}

.portfolio__description {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-item-border);
  border-bottom: 1px solid var(--portfolio-item-border);
  border-left: 1px solid var(--portfolio-item-border);
}

.portfolio__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.primary-title {
  visibility: hidden;
  margin: 0;
  font-size: 0;
  margin-block: 0;
}

.portfolio__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__paragraph {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--anim-fast);
  transition: -webkit-box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}

.portfolio__link:hover,
.portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Features */
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features__list .features__item {
  width: 270px;
}

.features__list .features__item + .features__item {
  margin-left: 30px;
}

.features__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}

.features__paragraph {
  color: var(--paragraph-text-color);
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.container-features {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.features__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--item-backgroung-color);
  background-size: 70px;
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

/* Works */
.works__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__item {
  width: calc((100% - 60px) / 3);
}
.works__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.works__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background-color: var(--works-description-bg-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0;
}

.works__item {
  position: relative;
  z-index: 1;
}

.works__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

/* Team */
.team {
  background-color: var(--studio-background-color);
}

.team__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.18;
}

.container-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  width: calc((100% - 90px) / 4);
  display: inline-block;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team__desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Clients */
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 170px;
  height: 92px;
  color: var(--icon-primary-color);
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border var(--anim-fast);
  transition: border var(--anim-fast);
}
.clients__item:hover, .clients__item:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

/* Footer */
.footer {
  background-color: var(--footer-backgroung-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.logo__part--light {
  color: var(--primary-white-color);
}

.address__hyperlink {
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 9px;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.address__hyperlink:hover,
.address__hyperlink:focus {
  color: var(--accent-color);
}

.address__link {
  color: var(--address-link);
  text-decoration: none;
  line-height: 1.7;
  font-style: normal;
  margin-bottom: 9px;
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Animation */
@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  40% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
  60% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes heartBeat {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  20% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  40% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
  60% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}/*# sourceMappingURL=main.css.map */