/* Animation */
@keyframes heartBeat {
  0% {
    transform: translate(-50%, -50%);
  }

  20% {
    transform: translate(-50%, -50%) scale(1);
  }

  40% {
    transform: translate(-50%, -50%) scale(0.9);
  }

  60% {
    transform: translate(-50%, -50%) scale(1);
  }

  80% {
    transform: translate(-50%, -50%) scale(0.9);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
