/* Team */
.team {
  background-color: var(--studio-background-color);
}
.team__name {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team__paragraph {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 16px;

  color: var(--paragraph-text-color);

  font-size: 16px;
  line-height: 1.18;
}
.container-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
}
.team__item {
  width: calc((100% - 3 * 30px) / 4);
  display: inline-block;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

.team__desc {
  padding-top: 30px;
  padding-bottom: 30px;
}
