/* Works */

.works__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.works__list {
  display: flex;
  flex-wrap: wrap;
}
.works__item {
  width: calc((100% - 2 * 30px) / 3);

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.works__desc {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;

  background-color: var(--works-description-bg-color);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  position: absolute;
  bottom: 0;
  right: 0;
}
.works__item {
  position: relative;
  z-index: 1;
}
.works__paragraph {
  display: flex;
  align-self: center;
}
